html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color:rgb(63, 177, 189);
}

.categories {
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color: bisque;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    border: solid black 3px;
}
.subcategories { 
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
}

article {
    min-height: 400px;
    width: 33%;
    background-color: darkseagreen;
    border: solid black 3px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.subcategory-title {
    text-align: center;
}

.add {
    text-align: center;
}

#addItemForm {
    text-align: center;
    margin-bottom: 10px;
}

.image-container { 
    width: 33%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img {
    height: 90%;
    display: block;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

li {
    padding-bottom: 5px;
    border-bottom: solid black 1px;
    margin-right: 10%;
}
